<%= form_with(model: playlist_pose, local: true) do |form| %>
  <% if playlist_pose.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(playlist_pose.errors.count, "error") %> prohibited this playlist_pose from being saved:</h2>

      <ul>
        <% playlist_pose.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sequence_number %>
    <%= form.number_field :sequence_number %>
  </div>

  <div class="field">
    <%= form.label :playlist_id %>
    <%= form.text_field :playlist_id %>
  </div>

  <div class="field">
    <%= form.label :pose_id %>
    <%= form.text_field :pose_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
