<p id="notice"><%= notice %></p>

<h1>Playlist Poses</h1>

<table>
  <thead>
    <tr>
      <th>Sequence number</th>
      <th>Playlist</th>
      <th>Pose</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlist_poses.each do |playlist_pose| %>
      <tr>
        <td><%= playlist_pose.sequence_number %></td>
        <td><%= playlist_pose.playlist_id %></td>
        <td><%= playlist_pose.pose_id %></td>
        <td><%= link_to 'Show', playlist_pose %></td>
        <td><%= link_to 'Edit', edit_playlist_pose_path(playlist_pose) %></td>
        <td><%= link_to 'Destroy', playlist_pose, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Playlist Pose', new_playlist_pose_path %>
