<p id="notice"><%= notice %></p>

<p>
  <strong>Sequence number:</strong>
  <%= @playlist_pose.sequence_number %>
</p>

<p>
  <strong>Playlist:</strong>
  <%= @playlist_pose.playlist_id %>
</p>

<p>
  <strong>Pose:</strong>
  <%= @playlist_pose.pose_id %>
</p>

<%= link_to 'Edit', edit_playlist_pose_path(@playlist_pose) %> |
<%= link_to 'Back', playlist_poses_path %>
