<%= form_with(model: pose, local: true) do |form| %>
  <%= render 'shared/errors', object: pose %>

  <div class='form-group row'>
    <%= form.label :name, class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10'>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class='form-group row'>
    <%= form.label :audio_file, class: 'col-sm-2 col-form-label'  %>
    <div class='col-sm-10'>
      <%= form.text_field :audio_file, class: 'form-control' %>
    </div>
  </div>

  <div class='form-group row'>
    <%= form.label :image_file, class: 'col-sm-2 col-form-label'  %>
    <div class='col-sm-10'>
      <%= form.text_field :image_file, class: 'form-control' %>
    </div>
  </div>

  <div class='form-group row'>
    <%= form.label :admin_only, class: 'col-sm-2 col-form-label'  %>
    <div class='col-sm-10'>
      <%= form.check_box :admin_only, class: 'form-control' %>
    </div>
  </div>

  <div class='actions mt-3'>
    <%= form.submit class: button_classes %>
  </div>
<% end %>
