<%= form_with(model: pose, local: true) do |form| %>
  <%= render 'shared/errors', object: pose %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :audio_file %>
    <%= form.text_field :audio_file %>
  </div>

  <div class="field">
    <%= form.label :image_file %>
    <%= form.text_field :image_file %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
