<table class='table'>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Audio file</th>
      <th>Image file</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% poses.each do |pose| %>
      <tr>
        <td><%= link_to (image_tag pose.image_file), pose, class: 'thumbnail' %></td>
        <td><%= pose.name %></td>
        <td><%= pose.audio_file %></td>
        <td><%= pose.image_file %></td>
        <td>
          <%= audio_tag "/audio_files/#{pose.audio_file}", class: "audio-play" %>
          <p id="<%= pose.audio_file %>" class="btn btn-sm btn-primary audioButton">Play</p>
        </td>
        <td><%= link_to 'Edit', edit_pose_path(pose), class: 'btn btn-sm btn-secondary' %></td>
        <td><%= link_to 'Delete', pose, class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    $(".audioButton").on("click", function() {
      let trackFileName = event.target.id;
      const track = new Audio(`/audio_files/${trackFileName}`);
      track.play().catch(e => {
        console.log(e);
      });
    });
  });
</script>
