<%= link_to 'New Pose', new_pose_path, class: button_classes('primary right') %>
<h1>Poses</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Play</th>
    </tr>
  </thead>

  <tbody>
    <% @poses.each do |pose| %>
      <tr>
        <td><%= link_to (image_tag pose.image_file), edit_pose_path(pose), class: 'thumbnail' %></td>
        <td>
          <%= link_to pose.name, edit_pose_path(pose) %>
        </td>
        <td>
          <%= audio_tag "/audio_files/#{pose.audio_file}", class: "audio-play" %>
          <span id="<%= pose.audio_file %>" class="btn btn-sm btn-info audioButton">Play</span>
          <%#= link_to 'Play', '', id: pose.audio_file, class: 'btn btn-sm btn-primary audioButton' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    $(".audioButton").on("click", function() {
      let trackFileName = event.target.id;
      const track = new Audio(`/audio_files/${trackFileName}`);
      console.log(track)
      track.play().catch(e => {
        console.log(e);
      });
    });
  });
</script>
