<div class='mb-3'>
  <%= link_to 'Cancel', poses_path, class: button_classes('secondary right') %>
  <%= link_to 'Home', root_path %> <%= chevron_right %>
  <%= link_to 'Poses', poses_path %> <%= chevron_right %>
  New
</div>

<h2>New Pose</h2>

<%= render 'form', pose: @pose %>
