<%= image_tag @pose.image_file %>
<p>
  <strong>Name:</strong>
  <%= @pose.name %>
</p>

<p>
  <strong>Audio file:</strong>
  <%= @pose.audio_file %>
</p>

<p>
  <strong>Image file:</strong>
  <%= @pose.image_file %>
</p>

<%= link_to 'Edit', edit_pose_path(@pose) %> |
<%= link_to 'Back', poses_path %>
