<%= form_with(model: playlist, local: true) do |form| %>
  <%= render 'shared/errors', object: playlist %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label 'Hold Time (sec)' %>
    <%= form.number_field :hold_time, class: 'form-control' %>
  </div>

  <table class="table table-playlist_poses">
    <thead>
      <tr>
        <th width="10%">Sequence Number</th>
        <th>Pose</th>
        <th width="10%">Delete?</th>
      </tr>
    </thead>
    <tbody>
      <%= form.fields_for :playlist_poses do |f_playlist_pose| %>
      <tr> <%= render 'playlist_poses/form_fields', f_playlist_pose: f_playlist_pose %> </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit class: 'btn btn-sm btn-primary'%>
  </div>
<% end %>
