<div class='mb-3'>
  <%= link_to 'Cancel', playlists_path, class: button_classes('secondary right') %>
  <%= link_to 'Home', root_path %> <%= chevron_right %>
  <%= link_to 'Playlists', playlists_path %> <%= chevron_right %>
  New
</div>

<h2>New Playlist</h2>

<%= render 'form', playlist: @playlist %>
