<%= link_to 'Back', playlists_path, class: button_classes('secondary right ml-2') %>
<%= link_to 'Edit', edit_playlist_path(@playlist), class: button_classes('primary right ml-2') %>

<h1>
  <%= @playlist.name %>
  <%#= link_to 'Stop', "", class: 'btn btn-sm btn-danger' %>
</h1>

<p>
  <strong>Hold Time:</strong> <%= @playlist.hold_time %> seconds<br>
  <strong>Duration:</strong> <%= @playlist.duration_in_minutes %> minutes
</p>

<table class='table'  id='table'>
  <thead>
    <tr>
      <th>Order</th>
      <th>Pose</th>
      <th><%= link_to '<i class="fas fa-play-circle"></i> Play'.html_safe, '#', id: 'button-play', class: button_classes('info right') %></th>
    </tr>
  </thead>

  <tbody>
    <% @playlist.playlist_poses.order(:sequence_number).each do |playlist_pose| %>
      <tr id="<%= playlist_pose.id %>">
        <td><span class='sequence-number'><%= playlist_pose.sequence_number %></span></td>
        <td><%= link_to display_pose_image(playlist_pose.pose), playlist_pose.pose, class: 'thumbnail' %></td>
        <td><%= playlist_pose.pose.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= javascript_include_tag 'playlists'%>
<script type="text/javascript">
  playTracks(<%= @playlist.hold_time %>, <%= @playlist.speak_time_buffer %>, <%= @playlist.tracks_for_js %>);
</script>
