<%= link_to 'Edit', edit_playlist_path(@playlist), class: 'btn btn-sm btn-primary right' %> <%= link_to 'Back', playlists_path, class: 'btn btn-sm btn-primary right' %>

<h1>
  <%= @playlist.name %>
  <%#= link_to 'Play', '', id: 'play', class: 'btn btn-sm btn-success' %>
  <button type="button" name="button" id="play" class="btn btn-sm btn-success">Play</button>
</h1>

<p><strong>Hold Time:</strong> <%= @playlist.hold_time %> seconds</p>

<table class='table'>
  <thead>
    <tr>
      <th>Sequence Number</th>
      <th>Image file</th>
      <th>Name</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlist.playlist_poses.each do |playlist_pose| %>
      <tr>
        <td><%= playlist_pose.sequence_number %></td>
        <td><%= link_to (image_tag playlist_pose.pose.image_file), playlist_pose.pose, class: 'thumbnail' %></td>
        <td><%= playlist_pose.pose.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script type="text/javascript">

  play_tracks(<%= @playlist.hold_time %>, <%= @playlist.tracks_for_js %>);

  function play_tracks(holdTimeInput, audioTracks){
    document.addEventListener('DOMContentLoaded', function () {
      const minholdTime = 5;
      const holdTime = holdTimeInput === 0 ? minholdTime : holdTimeInput;
      button = document.getElementById('play')
      const soundPlaylistComplete = new Audio(`/audio_files/5.wav`);



      button.addEventListener('click', function(e) {
        event.preventDefault;

        for(i = 0; i < audioTracks.length; i++){
          console.log(audioTracks[i]);
          const track = new Audio(`/audio_files/${audioTracks[i]}`);

          track.play().catch(e => {
            console.log(e);
          });

        }

      });
    });

  };
</script>
