<%= link_to 'Back', playlists_path, class: 'btn btn-sm btn-secondary right ml-2' %>
<%= link_to 'Edit', edit_playlist_path(@playlist), class: 'btn btn-sm btn-primary right ml-2' %>

<h1>
  <%= @playlist.name %>
  <%#= link_to 'Stop', "", class: 'btn btn-sm btn-danger' %>
</h1>

<p>
  <strong>Hold Time:</strong> <%= @playlist.hold_time %> seconds<br>
  <strong>Duration:</strong> <%= @playlist.duration_in_minutes %> minutes
</p>

<table class='table'>
  <thead>
    <tr>
      <th>Order</th>
      <th>Pose</th>
      <th><%= link_to '<i class="fas fa-play-circle"></i> Play'.html_safe, '#', id: 'button-play', class: 'btn btn-info right' %></th>
    </tr>
  </thead>

  <tbody>
    <% @playlist.playlist_poses.order(:sequence_number).each do |playlist_pose| %>
      <tr>
        <td><span class='sequence-number'><%= playlist_pose.sequence_number %></span></td>
        <td><%= link_to (image_tag playlist_pose.pose.image_file), playlist_pose.pose, class: 'thumbnail' %></td>
        <td><%= playlist_pose.pose.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= javascript_tag("playTracks(#{@playlist.hold_time}, #{@playlist.tracks_for_js})") %>

<script type="text/javascript">
  playTracks(<%= @playlist.hold_time %>, <%= @playlist.speak_time_buffer %>, <%= @playlist.tracks_for_js %>);

  function playTracks(holdTimeInput, speakTimeBuffer, audioTracks){
    // document.addEventListener('DOMContentLoaded', function () {
      const holdTime = (holdTimeInput + speakTimeBuffer) * 1000;

      const soundPlaylistComplete = 'chime.wav';
      audioTracks.push(soundPlaylistComplete)

      const button = document.getElementById('button-play')
      button.addEventListener('click', function(e) {
        event.preventDefault;

        console.log('Begin!');
        audioTracks.forEach(function(item, index, array) {
          setTimeout( (function( index ) {
            return function() {
              console.log(`playing: ${item}`);
              const track = new Audio(`/audio_files/${item}`);
              track.play().catch(e => { console.log(e); });
            };
          }(index)), (holdTime * index) );
        });

      });// onclick
    // }); //DOMContentLoaded
  };// playTracks
</script>
